html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body{
    font-family: 'Urbanist', sans-serif;
    background-color: #F1F8FF;
}

ol, ul {
  list-style: none;
}

.link-without-decoration{
    text-decoration: none;
}

.black-text{
    color: #000;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    padding: 25px 110px;
    border-bottom: 1px solid #000000;;
}

.header-list{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
}

.reg, .cont, .abus{
    margin-top: 18px;
    height: 50px;
    border-right: 2px solid #000;
}

.reg{
    width: 247px;
}
.cont{
    width: 190px;
}
.abus{
    width: 200px;
    border-right: none;
}

.footer{
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 70px 68px 22px 68px;
    background-color: #070C14;
    color: #ffffff;
}

.title-of-contacts{
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 74px;
}

.text-of-contacts{
    font-size: 48px;
    line-height: 58px;
    width: 320px;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 88px;
    margin-bottom: 90px;
}

.links-for-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 40px;
    line-height: 48px;
    height: 145px;
}

.link-to-contact{
    color: #ffffff;
}

.red-slash{
    color: #FF0000;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 576px;
    height: 58px;
}

.socials-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 32px;
    line-height: 58px;  
}

.carousel-container{
    width: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    position: relative;
    display: flex;
}

.photo-for-sliderTOP{
    width: 100vw;
}

#nextBtn:hover{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 2%;
    font-size: 30px;
    color: white;
    opacity: 1;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 2%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

#prevBtn:hover{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 2%;
    font-size: 30px;
    color: white;
    opacity: 1;
    cursor: pointer;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 2%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

.rect-info{
    position: absolute;
    display: flex;
    top: 50%;
    flex-direction: column;
    justify-content: space-between;
    width: 558px;
    height: 249px;
    padding-bottom: 64px;
    background: rgba(0, 52, 68, 0.7);
    color: #FFFFFF;
    text-align: center;
}

.title-of-info{
    margin-top: 40px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 70px;
}

.date-of-auction{
    font-size: 32px;
    line-height: 38px;
}

.see-more-first {
    color: #E4AB16;
}

.first-rect{
    margin-left: 55%;
}
.second-rect{
    margin-left: 35%;
}

.third-rect{
    margin-left: 9%;
}

.pantere{
    padding: 46px 82px 84px 82px;
}

.blue-slash{
    color: #00AFAF;
}

.title-of-pantere{
    width: 50%;
}

.container-for-pantere{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 66px;
    margin-left: 70px;
    border-top: 2px solid #000000;
    padding-top: 37px;
}

.frame722-01{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 331px;
    height: 440px;
    background: #FFFFFF;
    border: 4px solid rgba(24, 51, 90, 0.13);
    box-shadow: 13px 11px 17px rgba(0, 0, 0, 0.25);
    border-radius: 30px;    
}

.img-frame722-01{
    border-radius: 30px;
}

.number-of-jewerly{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}

.description-of-jewerly{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2C2C2C;
}












.imageOfUs{
    display: flex;
    width: 100%;
}

.textOfHead{
    position: absolute;
    top: 130px;
    font-size: 48px;
    line-height: 115px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000000;
    text-transform: uppercase;
    margin-left: 24px;
}

.text-about-us{
    margin: 120px 116px;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}