{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <title>Cart Brand Diva</title>
</head>
<body>
    <i onclick="topFunction()" id="up-top" title="Go to top"><img src="{% static 'images/arrow-up.png' %}" alt=""></i>
    <header class="header">
        <a href="{% url 'store' %}"><img src="{% static 'images/Brand_Diva.png' %}" alt="Brand Diva logo"></a>
        <ul class="header-list">
            <li class="cont">Contacts</li>
            <li class="abus"><a href="{% url 'about_us' %}" class="link-without-decoration black-text">About us</a></li>
            <li class="prof"><a href="login.html" class="link-without-decoration black-text">My Profile</a></li>
            <li class="prof"><a href="{% url 'cart' %}" class="link-without-decoration black-text"><img src="{% static 'images/shopping-cart.png' %}" alt="cart"></a></li>
        </ul>
    </header>
    <main class="main">
        <h1 class="title-of-cart">Your bag</h1>
        <h2 class="title-of-items">Items: 3</h2>
        <div class="container-for-items-checkout">
            <div class="container-items">
                <img src="{% static 'images/722/722-01.1.png' %}" alt="" class="img-items">
                <div class="description-of-items">
                    <h3 class="title-of-the-item">№722-01</h3>
                    <h4>PANTHÈRE DE CARTIER NECKLACE</h4>
                    <div class="container-for-quantity-price">
                        <h5>Quantity: 1</h5>
                        <h5>Price: 123500$</h5>
                    </div>
                </div>
            </div>
            <div class="container-checkout">
                
            </div>
        </div>
        
    </main>
    <footer class="footer">
        <p class="title-of-contacts">Contacts</p>
        <div class="contacts">
            <p class="text-of-contacts">Have some questions?</p>
            <div class="links-for-contacts">
                <p><span class="red-slash">\</span><a href="mailto:diva1853@gmail.com" class="link-to-contact link-without-decoration">diva1853@gmail.com</a></p>
                <p><span class="red-slash">\</span><a href="tel:+380972374283" class="link-to-contact link-without-decoration">+38(097)23-74-283</a></p>
            </div>
        </div>
        <div class="socials-wrapper">
            <p>(c) 2024 DIVA - Desinged by Vimark</p>
            <div class="socials">
                <a href="https://www.instagram.com/sothebys/?hl=en " ><img src="{% static 'images/instagram.png' %}" alt="instagram" class="socials-photo"></a>
                <a href="https://twitter.com/Sothebys?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{% static 'images/twitter.png' %}" alt="twitter" class="socials-photo"></a>
                <a href="https://www.youtube.com/channel/UCelkSnSbxvIfjjD01uPHHbg"><img src="{% static 'images/youtube.png' %}" alt="youtube" class="socials-photo"></a>
                <a href="https://www.facebook.com/sothebys/"><img src="{% static 'images/facebook.png' %}" alt="facebook" class="socials-photo"></a>
            </div>
        </div>
    </footer>
</body>
<script src="about-us.js"></script>
</html>